<div id="cart-items" class="card shadow-sm">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      {% for item in cart_items %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="font-weight-bold">{{ item.product.brand }}</span>
        <span class="text-muted">${{ item.product.price }}</span>
        <span class="font-weight-bold text-success"
          >${{ item.get_total_price }}</span
        > 
        <div class="d-flex align-items-center">
          <button
            class="btn btn-danger btn-sm"
            hx-post="{% url 'update_cart_items' item.id %}"
            hx-target="#cart-items"
            hx-vals='{"quantity": "{{ item.quantity|add:"-1" }}"}'
          >
            -
          </button>
          <span class="mx-2">{{ item.quantity }}</span>
          <button
            class="btn btn-success btn-sm"
            hx-post="{% url 'update_cart_items' item.id %}"
            hx-target="#cart-items"
            hx-vals='{"quantity": "{{ item.quantity|add:"1" }}"}'
          >
            +
          </button>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
