node_modules/
sass
env
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.egg-info/
dist/
build/
*.egg

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
media/
staticfiles/
.env
*.sqlite3

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Otros
.DS_Store
Thumbs.db
