{% load static %}
<div class="grid-container">
  {% if products %} 
  {% for product in products %}
  <div class="product-item">
    <div class="d-flex">
      <div class="px-2">
        <a href="{% url 'view_part' product.slug %}">
          <img src="{{ product.get_product_image }}" alt="{{ product.brand }}">
        </a>
      </div>

      <div>
        <p><strong class="fs-3">{{product.get_product_info}}</strong></p>
        <p class="d-none d-lg-block">{{product.description}}</p>
        <div>
          <div class="lh">
            <p class="badge text-dark lh-1">${{product.price}}</p>
            <p class="text-muted">impuestos no incluidos</p>
          </div>
          <div>


            {{product}}

            <button

              class="btn {% if request.session.in_cart %}btn-danger{% else %}btn-success{% endif %}"
              hx-post="{% url 'add_to_cart_htmx' product.id %}"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}" }'
              hx-trigger="click"
              hx-target="this"
              >
              Agregar al carrito
            </button> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} 
  
  {% else %}
  <h4 class="text-warning">No se encontraron productos.</h4>
  {% endif %}
</div>
