{% extends "base.html" %}

{% block content %}

<style>
  #cart-items {
    margin-bottom: 20px;
  }
  
  #cart-items .card-body {
    padding: 20px;
  }
  
  #cart-total {
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    #cart-items {
      margin-bottom: 10px;
    }
    #cart-items .card-body {
      padding: 10px;
    }
    #cart-total {
      font-size: 18px;
    }

    #static-cart {
      display: none;
  }
  }
  
</style>
  {% include "components/navbar.html" %}

  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Tu Carrito</h2>
            <div id="cart-items" class="card shadow-sm">
                <div class="card-body">
                    {% include 'partials/cart_items_partial.html' %}
                </div>
            </div>
            <!-- Carrito Estático Oculto -->
            <div id="static-cart" class="card shadow-sm" style="display: none;">
                <div class="card-body">
                    {% include 'partials/cart_items_partial.html' %}
                </div>
            </div>
            <div id="cart-total">
                {% include 'partials/cart_total_partial.html' %}
            </div>
        </div>
    </div>
</div>









{% endblock %}


            {% comment %} 
              <form method="POST" action="{% url 'checkout_htmx' %}" class="text-right mt-3">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Proceder al Pago</button>
              </form> 
            {% endcomment %}