{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "components/navbar.html" %}

<style>
  .pagination {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
  }
  .pagination a, .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #337ab7;
  }
  .pagination a:hover {
    background-color: #f5f5f5;
  }
  .pagination span {
    background-color: #337ab7;
    color: #fff;
    font-weight: bold;
    cursor: default;
  }
</style>

<div class="container m-auto">
  <div class="d-lg-flex justify-content-between">

    <!-- Filtros de productos -->
    <div class="product-filters">
      <h2>Filtrar Productos</h2>
      <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary mt-2">Aplicar Filtros</button>

      </form>
    </div>

    <!-- Listado de productos -->
    <div class="grid-product">
      {% for product in products %}
      <d class="product-item">
        <div class="d-flex">
          <a href="{% url 'view_part' product.slug %}" class="px-2">
            <img src="{{ product.get_product_image }}" alt="{{ product.brand }}" />
          </a>
          <div>
            <p>
              <strong class="fs-3">{{ product.get_product_info }}</strong>
            </p>
            <p class="d-none d-lg-block">{{ product.description }}</p>
            <div>
              <div class="lh">
                <p class="badge text-dark lh-1">${{ product.price }}</p>
                <p class="text-muted">impuestos no incluidos</p>
              </div>
              <div>
                <button class="btn btn-success" hx-post="{% url 'add_to_cart_htmx' product.id %}" hx-target="#cart-items" hx-swap="outerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}" }'>
                  Agregar al carrito
                </button>
              </div>
            </div>
          </div>
        </div>
      </d>
      {% endfor %}
    </div>
  </div>

  <!-- Paginación -->
  <div class="pagination">
    {% if products.has_other_pages %}
    <div class="d-flex justify-content-center">
      <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}" hx-boost="true">Anterior</a></li>
        {% endif %}
        {% for page_num in products.paginator.page_range %}
        <li class="page-item {% if page_num == products.number %}active{% endif %}">
          <a class="page-link" href="?page={{ page_num }}" hx-boost="true">{{ page_num }}</a>
        </li>
        {% endfor %}
        {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}" hx-boost="true">Siguiente</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </div>

</div>

<!-- Carrito de compras -->
<div id="cart-items">
  {% include 'cart/cart_items.html' %}
</div>

{% endblock content %}
