{% extends "base.html" %} 
{% load static %} 
{% block content %} 
{% include "components/navbar.html" %}
<div class="container m-auto">
  <div class="d-lg-flex justify-content-between">

    <div class="product-filters">
      <h1>Hola que hace</h1>
    </div>

    <div class="grid-product">
      {% for product in products %}
      <div class="product-item">

        <div class="d-flex">
          <div class="px-2">
            <img src="{% static "images/240x240.png" %}" alt="{{product.brand}}"
            />
          </div>

          <div>
            <p><strong class="fs-3">{{product.get_batery_info}}</strong></p>
            <p class=" d-none d-lg-block">{{product.description}}</p>
            <div >
                <div class="lh">
                    <p class="badge text-dark lh-1">${{product.price}}</p>
                    <p class="text-muted">impuestos no incluidos</p>
                </div>
                <div>
                  <button hx-post="{% url 'add_to_cart_htmx' product.id %}" hx-target="#cart-items" hx-swap="outerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}" }'>
                    Agregar al carrito
                  </button>
                </div>
            </div>
          </div>

        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>


<div id="cart-items">
  {% include 'partials/cart_items.html' %}
</div>

{% endblock content %}
