{% extends "base.html" %} 
{% block content %} {% include "components/navbar.html" %}

<div
  class="container d-lg-flex d-block justify-content-center align-items-center"
>
  <div>
    <img
      class="img-fluid"
      src="{{product.get_product_image}}"
      alt="{{ product.brand }}"
    />  
  </div>

  <div class="col-lg-6 p-2">
    <h3>{{product.category}}-{{product.brand}}</h3>
    <p><strong>Cantidad: </strong>{{product.stock}}</p>
    
    <p>
      <strong>Amp: </strong>{{product.amp}}
      <strong>Volts: </strong>{{product.volts}}
    </p>

    {% if product.type_oild %}
    <p>
      <strong>Tipo :</strong>{{product.type_oild }}
      <strong>Viscocidad :</strong>{{product.viscosity}}
    </p>
    {% endif %} {% if product.psi %}
    <p><strong> Amp :</strong>{{product.psi}}</p>
    {% endif %}

    <p>{{product.description}}</p>

    <hr />
    <h4>{{product.price}}</h4>
    <p>sin impuestos</p>
    <button
      class="btn btn-success"
      hx-post="{% url 'add_to_cart_htmx' product.id %}"
      hx-target="#cart-icon"
      hx-swap="outerHTML"
    >
      Agregar al carrito
    </button>
  </div>
</div>
<div class="container">
  <div class="">
    <div class="related-products">
      <h3>Productos Relacionados</h3>
      <div class="grid-related">
        {% for related in related_products %}
        <div class="product-item">
          <a href="{% url 'view_part' related.slug %}" hx-boost="true">
            <img
              src="{{ related.get_product_image }}"
              alt="{{ related.brand }}"
            />
          </a>
          <p><strong>{{ related.get_product_info }}</strong></p>
          <p>${{ related.price }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock content %}
</div>
